html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
/*
    Anasayfa randevu tasarýmý
*/
.shopping-cart{
    height:80vh;
    overflow:auto;
    position:relative;
    padding:0;
}
.shopping-cart h4{
    background:linear-gradient(to bottom,#c7c55f,#fcfbc6,#c7c55f);
    padding:1em;
    position:sticky;
    top:0;
    width:100%;
}
.shopping-cart #resultArea .cart-item, .shopping-cart #totalsArea{
    padding:1em;
}
.shopping-cart #totalsArea{
    background:#c7c55f;
    position:sticky;
    bottom:0;
    width:100%;
    height:200px;
}
.shopping-cart #resultArea .cart-item{
    background:linear-gradient(to bottom,#fcfbc6,#e5e5e5);
    border-right:5px solid #c7c55f;
    margin-bottom:.3em;
}
.shopping-cart #resultArea .cart-item p{
    padding:0;
    margin:0;
}
.shopping-cart #resultArea .cart-item button{
    padding:0.2em 1em;
    margin:.5em;
    border:none;
    background:#ca4d4d;
    color:white;
}
.reservation-cart {
}
.reservation-cart h2{
    border-bottom: 2px solid #c7c55f;
    padding-top:.3em;
    padding-bottom:.3em;
}
.table .thead {
    display: block;
    background: #fcfbc6;
    border-bottom: 2px solid #c7c55f;
}
.table .tbody {
    display: block;
}
.tbody td{
    align-content:center;
}
.row {
    padding: 0;
    margin: 0;
}
.choose-employment-btn {
    background: none;
    border: 5px solid #c7c55f;
    padding: .2em 1em;
    font-weight: 600;
    color: #414040;
}
.choose-employment-btn:hover{
    background: #c7c55f;
}



/*
    Kuafor YOnetim 
*/
.manager-bar-area.show {
    transform: scaleY(1) scaleX(1); /* Aþaðýdan yukarý açýlma */
    transform-origin: bottom;
}
.manager-bar-area.hide {
    transform: scaleX(0); /* Saðdan sola kapanma */
    transform-origin: left;
}
.manager-bar-area {
    position: fixed;
    width: 270px;
    height: 80vh;
    padding: 0;
    margin: 0;
    bottom: 0;
    left: 0;
    background: #1b6ec2;
    border: 3px solid #1861ac;
    z-index: 500;
    overflow: hidden; /* Ýçeriðin taþmasýný önlemek için */
    transform-origin: bottom; /* Açýlma noktasý */
    transform: scaleY(0); /* Baþlangýçta tamamen kapalý */
    transition: transform 0.5s ease, transform-origin 0.5s ease;
}
.manager-bar-area h6{
    cursor:pointer;
    color:#ae0000;
    font-weight:800;
}
.manager-bar-area h6:hover{
    background:#fcfbc6;
}
.manager-bar-area h3, .manager-bar-area ul, .manager-bar-area li, .manager-bar-area a{
    padding:0;
    margin:0;
}
.manager-bar-area h3{
    margin-bottom:.2em;
    padding:.4em;
    border: 3px solid #1861ac;
    border-bottom: 10px solid #1861ac;
    color:aliceblue;
}
.manager-bar-area li:not(:last-child){
    border-bottom:1px solid #1861ac;
}
.manager-bar-area a{
    display:block;
    padding:.6em 0 .6em 2em;
    color:aliceblue;
    text-decoration:none;
    font-size:1.1srem;
}
.manager-bar-area a:hover{
    background:#1861ac;
}

.res-detail{
    display:none;
}
.res-detail.show{
    display:block;
}