@using BayanKuaforOtomasyonu.Models.ViewModels.AppUserEmploymentViewModel
@model UserEmploymentViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Hizmet</h2>
<form method="post" asp-area="KuaforYonetimi" asp-controller="UserEmployments" asp-action="Index" class="mb-4">
    <input type="hidden" asp-for="AppUserId" value="@ViewBag.UserId" />
    <input type="hidden" asp-for="Id" />
    <div class="mb-2">
        <b><label asp-for="EmploymentId"></label></b>
        <select asp-for="EmploymentId" asp-items="@ViewBag.SelectList" class="form-control"></select>
        <span asp-validation-for="EmploymentId"></span>
    </div>
    <div class="mb-2">
        <b><label asp-for="Price"></label></b>
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price"></span>
    </div>
    <div class="mb-2">
        <b><label asp-for="Duration"></label></b>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration"></span>
    </div>
    <div>
        <button type="submit" class="form-control btn btn-primary">Kaydet</button>
    </div>
</form>
@await Component.InvokeAsync("GetUserEmployments", new { userId  = ViewBag.UserId})
