@using BayanKuaforOtomasyonu.Models.ViewModels
@model LoginViewModel
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-lg-6 col-md-8 col-12 mx-auto">
    <h2>Giriş Yap</h2>
    <form asp-area="" asp-controller="Access" asp-action="Login" method="post" class="col-11 mx-auto">
        <div class="mb-3 mt-3">
            <b class="d-block"><label asp-for="EmailAddress"></label></b>
            <input asp-for="EmailAddress"class="form-control" />
            <span asp-validation-for="EmailAddress"></span>
        </div class ="mb-3 mt-3">

        <div class ="mb-3 mt-3">
            <b class="d-block"><label asp-for="Password"></label></b>
            <input asp-for="Password" type="password" class="form-control"/>
            <span asp-validation-for="Password"></span>
        </div>

        <button type="submit" class="form-control btn btn-primary">Giriş yap</button>
    </form>

</div>

