<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BayanKuaforOtomasyonu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BayanKuaforOtomasyonu.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><span class="default-color">BayanKuaforOtomasyonu</span> </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1 justify-content-end">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Ana sayfa</a>
                        </li>
                        @if(User.Identity.IsAuthenticated){
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="LogOut">Çıkış yap</a>
                            </li>
                        }else{
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Register">Kayıt ol</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Access" asp-action="Login">Giriş yap</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="manager-bar-area">
        <h6 id="hideManagerBarAreaBtn" class="text-end mb-0 py-1 px-2">X</h6>
        <h3>Kuaför Yönetimi</h3>
        <ul class="list-unstyled">
            <li><a asp-area="KuaforYonetimi" asp-controller="UserManagement" asp-action="Index">Kullanıcılar</a></li>
            <li><a asp-area="KuaforYonetimi" asp-controller="Employments" asp-action="Index">Hizmetler</a></li>
            <li><a asp-area="KuaforYonetimi" asp-controller="Reservations" asp-action="Index">Randevular</a></li>
            <li><a asp-area="KuaforYonetimi" asp-controller="UserEmployments" asp-action="Tracking">İstatistikler</a></li>
        </ul>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            <ul class="list-unstyled d-flex justify-content-between">
                <li><button id="showManagerBarAreaBtn" class="btn px-3" type="button">Kuaför Yönetimi</button></li>
                <li>&copy; @DateTime.Now.Year - Tüm hakları saklıdır</li>
            </ul>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        const showBtn = document.getElementById("showManagerBarAreaBtn");
        const hideBtn = document.getElementById("hideManagerBarAreaBtn");
        const barArea = document.querySelector(".manager-bar-area");

        showBtn.addEventListener("click", function () {
            barArea.classList.remove("hide");
            barArea.classList.add("show");

        });

        hideBtn.addEventListener("click", function () {
            barArea.classList.remove("show");
            barArea.classList.add("hide");

        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
